/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea
playground.iml
/data/
resources/public/js/playground.js
resources/public/js/site.js
resources/public/js/codemirror.min.js
resources/public/js/clipboard-splitter-sortable.min.js
resources/public/css/editor.css
resources/public/css/main.css
src-css/.sass-cache
.sass-cache
resources/public/chartopedia/images
.DS_Store
phantomjsdriver.log
id_rsa
.travis/id_rsa