html body .roadmap-page {

  h1 {
    color: $red-color;
    font-size: 18px;
    font-weight: bold;
  }

  h2 {
    color: $red-color;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    .muted {
      font-weight: normal;
      margin-left: 5px;
    }
    &:before {
      border-radius: 100%;
      counter-increment: section;
      content: ''; //counter(section);

      background: #95bfd3;
      color: #fff;
      padding: 2px;
      border: none;
      text-align: center;
      width: 18px;
      height: 18px;
      //border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: -39px;
    }
    &:after {
      /*Add another block-level blank space*/
      content: '';
      display: block;

      /*Make it a small rectangle so the border will create an L-shape*/
      width: 6px;
      height: 6px;

      /*Add a white border on the bottom and left, creating that 'L' */
      border: solid white;
      border-width: 0 1px 1px 0;

      /*Rotate the L 45 degrees to turn it into a checkmark*/
      transform: rotate(-135deg);
      position: absolute;
      left: -33px;
      top: 8px;
    }
  }

  .line-container {
    padding-left: 30px;
    margin-left: 5px;
    position: relative;
    border-left: 1px solid #99c1d4;
    margin-bottom: 30px;
    &::before {
      display: block;
      position: absolute;
      border: 1px solid red;
      left: 0;
      top: 0;
      height: 150px;
      width: 100px;
    }
    &:after {
      display: block;
      position: absolute;
      border: 1px solid red;
      left: 0;
      top: 0;
      height: 150px;
      width: 100px;
    }
  }

}