html body .support-page {

  .intro {
    height: 248px;
    h1 {
      font-size: 51px;
    }
    background-image: url('/tags-page/bg.png');
    background-position: center;
  }

  .content {

    .content-container {
      padding-bottom: 60px;
    }

    h1 {
      font-size: 18px;
      text-transform: uppercase;
      color: $red-color;
      font-weight: bold;
      margin-top: 55px;
      margin-bottom: 17px;
      &:last-of-type{
        margin-top: 30px;
      }
    }

    .text {
      font-size: 12px;
    }

    .big-text {
      font-size: 14px;
      padding: 0 0 0 52px;
      position: relative;
      &:before {
        position: absolute;
        left: 0;
        top: 5px;
      }
      &.block-24:before {
        top: 0;
        content: "";
        background-image: url('/icons/support/24.svg');
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
      }
      &.block-info:before {
        content: "";
        background-image: url('/icons/support/xml.svg');
        background-size: 44px 44px;
        width: 44px;
        height: 44px;
      }
    }

    a {
      color: #008ebe;
    }

    ul {
      list-style: none;
      padding-left: 13px;
      li {
        position: relative;
        line-height: 24px;
        &:before {
          content: '\2022';
          font-size: 15px;
          padding-right: 8px;
          line-height: 15px;
          //color: #67beda;
          position: absolute;
          left: -12px;
          top: 6px;
        }
      }
    }

    .big-links {
      margin: 30px 0;
    }
    .big-link {
      a {
        color: #19a1ce;
        font-size: 18px;
      }
      display: block;
      position: relative;
      padding: 0 0 0 50px;
      margin: 20px 0;
      a:before {
        position: absolute;
        left: 0;
      }
      &.support a:before {
        content: "";
        background-image: url('/icons/support/online-support.svg');
        background-size: 32px 32px;
        width: 32px;
        height: 32px;
      }
      &.email a:before {
        content: "";
        background-image: url('/icons/support/mail.svg');
        background-size: 31px 31px;
        width: 31px;
        height: 31px;
      }
      &.search a:before {
        left: 2px;
        content: "";
        background-image: url('/icons/support/search.svg');
        background-size: 27px 27px;
        width: 27px;
        height: 27px;
      }
      &.post a:before {
        left: 2px;
        content: "";
        background-image: url('/icons/support/post.svg');
        background-size: 27px 27px;
        width: 27px;
        height: 27px;
      }
    }

    .yellow-label {
      font-size: 14px;
      font-weight: bold;
      color: #edb340;
    }

    .tag {
      color: white;
      font-size: 13px;
      font-weight: bold;
      background-color: #95bfd3;
      border-radius: 3px;
      padding: 1px 8px;
    }
  }
}