div#livechat-compact-container {
  transform: scale(0.8) translateY(16px) !important;
}

a {
  color: $intro-bg-color;
  &:hover {
    color: $tag-label-hover-color;
  }
}

.popular-tags-box {
  margin: 18px 0 15px 0;
  .popular-tag-button {
    font-size: 12px;
    display: inline-block;
    background-color: $tag-bg-color;
    margin: 0 12px 12px 0;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    //font-weight: 600;
    font-weight: bold;
    &:hover, &:focus {
      background-color: $intro-bg-color;
    }
  }
}

.elements-container {
  margin: 30px 0;
  .toggle-tabs {
    // Hide before first site release
    display: none;
    a {
      padding: 4px 15px;
      font-size: 13px;
      color: #80a9bd;
      border: none;
      background: none;
      text-decoration: none;
      margin-right: 6px;
      span {
        border-bottom: 1px dotted;
      }
      &:hover {
        color: #19a1ce;
      }
      &.active {
        color: #222222;
        border: 1px solid #83bbcd;
        border-radius: 3px !important;
      }
    }
  }
  .search {
    // Hide before first site release
    // display: inline-block;
    display: none;
    padding: 5px;
    float: right;
    color: #95bfd3;
    font-size: 16px;
    cursor: pointer;
  }
}

//======================================================================================================================
//  Left menu view
//======================================================================================================================
#leftmenu-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $leftmenu-right-bg-color;
  z-index: 99;;
  visibility: hidden;
}

.leftmenu {
  position: fixed;
  width: 246px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $leftmenu-bg-color;
  z-index: 300;

  #leftmenu-close {
    font-size: 30px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    color: white;
    opacity: 0.9;
    margin: 14px 25px;
  }
  & > ul {
    margin-top: 80px;
  }
  ul {
    padding: 0;
    li ul li a {
      padding-left: 50px
    }
  }
  a {
    display: block;
    color: white;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    padding-left: 30px;
    cursor: pointer;
    text-decoration: none;
    &:hover, &:focus {
      background-color: $leftmenu-bg-hover-color;
      text-decoration: none;
    }
  }
}