a {
  color: #008ebe;
}


.popular-tags-box {
  margin: 18px 0 15px 0;
  .popular-tag-button {
    font-size: 12px;
    display: inline-block;
    background-color: #95bfd3;
    margin: 0 8px 12px 0;
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus {
      background-color: #19a1ce;
    }
  }
}


.elements-container {
  margin: 30px 0;
  .toggle-tabs {
    // Hide before first site release
    display: none;
    a {
      padding: 4px 15px;
      font-size: 13px;
      color: #80a9bd;
      border: none;
      background: none;
      text-decoration: none;
      margin-right: 6px;
      span {
        border-bottom: 1px dotted;
      }
      &:hover{
        color: #19a1ce;
      }
      &.active{
        color: #222222;
        border: 1px solid #83bbcd;
        border-radius: 3px !important;
      }
    }
  }
  .search {
    // Hide before first site release
    // display: inline-block;
    display: none;
    padding: 5px;
    float: right;
    color: #95bfd3;
    font-size: 16px;
    cursor: pointer;
  }
}