.popular-tags-box {
  margin: 18px 0 15px 0;
  .popular-tag-button {
    font-size: 12px;
    display: inline-block;
    background-color: #95bfd3;
    margin: 0 8px 12px 0;
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:focus {
      background-color: #19a1ce;
    }
  }
}