$red-color: #df4e69;
$warning-sign-color: #df4e69;
//$nav-bg-color: #2c4b76;

$nav-bg-color: #0172B0;
// $intro-bg-color: #0082CC;
$intro-bg-color: #0182CA;
//$intro-bg-color: #4881c8;
//$intro-bg-color: #4981c7;
$intro-color: #E9F4F7;
$tag-bg-color: #83C4E8;

//$main-bg-color: #e7edef;
$main-bg-color: #E8F3F6;
$text-color: #222222;


$footer-color: #ffffff;
$footer-caption-color: #99c3e6;