//$red-color: #df4e69;
$red-color: #f0402e;
$red-color-active: #e73e2c;


$warning-sign-color: #df4e69;
$orange-color: #ff8207;


//$nav-bg-color: #2c4b76;
$nav-bg-color: #1f74b6;
$nav-bg-links-hover-color: #a7e0fe;

// pagination color
// tags hover color
// create menu list color
// "learn more" on categories page button
$intro-bg-color: #2485d0;
$intro-bg-color-active: #2380c8;
$intro-color: #f3f3f3;

$tag-bg-color: #99c3e6;
$tag-label-hover-color: #2485d0;

$create-button-bg-hover-color: #3293dd;

$header-menu-bg-hover-color: #e7f4ff;

// search box
$search-box-bg-color: #1d6caa;
$search-box-bg-hover-color: #1d67a5;

$main-bg-color: #f6f6f6;
$text-color: #222222;

// sample
$sample-name-color: #0182CA;
$sample-author-color: #99c3e6;

// chart types
$tab-active-bg-color: #4881c6;
$tab-active-bg-hover-color: #ecf4f7;


// footer
$footer-color: #ffffff;
$footer-caption-color: #81afd5;

$sn-bg-color: #e5e5e5;
$sn-bg-hover-color: #4981c7;
$sn-color: #99c3e6;
$copyright-color: #81afd5;


// editor
//$leftmenu-bg-color: #4981c7;
$leftmenu-bg-color: #1f74b6;
//$leftmenu-bg-color: #2F5587;
//$leftmenu-bg-color: #1f74b6;

//$leftmenu-bg-hover-color: #1f74b6;
$leftmenu-bg-hover-color: #2792e5;
//$leftmenu-bg-hover-color: #4171AD;
//$leftmenu-bg-hover-color: #99c3e6;

$leftmenu-right-bg-color: rgba(231, 236, 239, 0.68);

$editor-nav-bg-color: #67a7e7;
$settings-border-color: #9fc7e7;