//$red-color: #df4e69;
$red-color: #ff3c39;
$warning-sign-color: #df4e69;
$orange-color: #ff8207;


//$nav-bg-color: #2c4b76;
$nav-bg-color: #0172B0;
$nav-bg-links-hover-color: #a7e0fe;

// pagination color
// tags hover color
// create menu list color
// "learn more" on categories page button
$intro-bg-color: #0182CA;
$intro-color: #E9F4F7;

$tag-bg-color: #83C4E8;
$tag-label-hover-color: #12aeff;

$create-button-bg-hover-color: #5593c9;

$header-menu-bg-hover-color: #ecf4f7;

// search box
$search-box-bg-color: #006ca7;
$search-box-bg-hover-color: #00679E;

$main-bg-color: #E8F3F6;
$text-color: #222222;

// sample
$sample-name-color: #0182CA;;
$sample-author-color: #99c3e6;;

// chart types
$tab-active-bg-color: #4881c6;
$tab-active-bg-hover-color: #ecf4f7;


// footer
$footer-color: #ffffff;
$footer-caption-color: #99c3e6;

$sn-bg-color: #DFF0F5;
$sn-bg-hover-color: #4981c7;
$sn-color: #85C3E7;
$copyright-color: #85c4e8;