html body .tag-page .content {

  h1 {
    color: #df4e69;
    font-size: 18px;
    margin-top: 40px;
  }

  h2 {
    font-size: 16px;
    text-transform: uppercase;
    color: #df4e69;
  }

  .tag-description {
    margin-top: 18px;
    margin-bottom: 40px;
  }

  .samples-container {
    margin-top: 21px;
  }

  .prev-next-buttons {
    margin-bottom: 45px;
  }
}