html body .tags-page {

  .intro {
    height: 248px;
    h1 {
      font-size: 51px;
    }
    //background-image: url('/tags-page/bg.png');
    //background-position: center;
  }

  .content {

    .tags-box {
      margin: 50px 0;
    }

    .flex-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 780px;
      //justify-content: space-between;
      .letter {
        color: $red-color;
        font-size: 12px;
        font-weight: bold;
        margin: 10px 0;
      }
      .letter:first-child {
        margin: 0 0 10px 0;
      }
      a {
        color: $intro-bg-color;
        max-width: 200px;
        &:hover, &:focus {
          color: $tag-label-hover-color;
        }
      }
    }
  }

}