html body .chart-types-categories-page {

  .intro {
    height: 248px;
    h1 {
      font-size: 51px;
    }
    //background-image: url('/tags-page/bg.png');
    //background-position: center;
  }

  .content {
    .elements-container {
      .toggle-tabs {
        margin-left: 55px;
      }
    }

    .categories-container {
      padding-top: 7px;
      min-height: 135px;
      .category {
        position: relative;
        margin-bottom: 70px;
        .img-box {
          position: absolute;
          width: 135px;
          display: inline-block;
          img {
            width: 135px;
            height: 135px;
          }
        }
        .info {
          padding-left: 170px;
          display: inline-block;
          .name {
            font-weight: bold;
            margin: 0 0 5px 0;
            font-size: 15px;
          }
          .description {
            margin: 0 0 18px 0;
            font-size: 12px;
          }
          .learn-more-label {
            color: $intro-bg-color;
            border: 1px solid $intro-bg-color;
            padding: 5px 11px;
            border-radius: 3px;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
              text-decoration: none;
              color: white;
              background-color: $tab-active-bg-color;
            }
          }
        }
      }
    }
  }
}