.chart-type-container{
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;*/
  padding-bottom: 60px;
  .fake-chart-block{
    width: 165px;
    display: inline-block;
  }
  .chart-type-block{
    //width: 165px;
    //height: 165px;
    display: inline-block;
    margin: 10px 0;
    a.chart {
      display: block;
      border: 1px solid #DDDDDD;
      padding: 10px;
      cursor: pointer;
      background-color: white;
      //width: 165px;
      //height: 165px;
      color: #008ebe;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

      @include transition(150ms, ease);
      @include transform(scale(1));
      &:hover, &:focus {
        text-decoration: none;
        @include transition(150ms, ease);
        @include transform(scale(1.1));
      }
      span{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
      }
      .chart-img {
        display: block;
        margin-bottom: 5px;
        height: 120px;
        position: relative;
        overflow: hidden;
        text-align: center;
        & > img {
          display: inline-block;
          vertical-align: bottom;
          height: 100%;
          width: auto;
          max-width: 100%;
        }
      }
      .chart-content {
        display: block;
        font-size: 13px;
        line-height: 1.3333333;
      }
    }
  }
}


