.chart-type-page .content {

  .info {
    margin-top: 20px;
    margin-bottom: 40px;

    h1 {
      font-size: 18px;
      color: $red-color;
      margin-top: 20px;
    }
    h2 {
      font-size: 15px;
      color: $red-color;
      margin-top: 20px;
    }

    .description {
      font-size: 12px;
    }

    a.btn.btn-default.btn-sm {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    .column2 {
      margin-top: 2px;
      .note {
        margin-top: 15px;
        &:nth-child(2) {
          margin-top: 24px;
        }
      }
    }
  }

  .samples-label {
    margin-bottom: 14px;
  }
}