html body .chart-types-page{

  .intro {
    height: 248px;
    h1 {
      font-size: 51px;
    }
    background-image: url('/tags-page/bg.png');
    background-position: center;
  }

  .elements-container{
    margin: 30px 0;

    .toggle-tabs{
      margin-left: 55px;
    }

    .search{
      padding: 5px;
      float:right;
      display: inline-block;
      color: #95bfd3;
      font-size: 16px;
      cursor: pointer;
    }

  }

  .chart-type-container{
    padding-bottom: 28px;
  }
  .prev-next-buttons{
    margin-bottom: 65px;
  }

}