html body .chart-types-page {

  .intro {
    height: 248px;
    h1 {
      font-size: 51px;
    }
    //background-image: url('/tags-page/bg.png');
    //background-position: center;
  }

  .content {

    .elements-container {
      .toggle-tabs {
        margin-left: 55px;
      }
    }

    .chart-type-container {
      padding-bottom: 28px;
    }
    .prev-next-buttons {
      margin-bottom: 65px;
    }

  }
}