.header-shadow {
  //box-shadow: rgb(17, 59, 107) 0 40px 140px;
  box-shadow: #C3D1DE 0 100px 400px;
}

.search-container {
  background-color: #305587;
  height: 58px;
  position: relative;

  .content-container {
    max-width: 1140px;
  }

  div.search-area {
    position: relative;
    padding-top: 15px;
    display: flex;

    input {
      background: none;
      color: white;
      border: none;
      border-bottom: 1px solid #9BC3E4;
      outline: none;
      font-weight: bold;
      font-size: 15px;
      padding: 1px 0;
      width: 100%;

      &::placeholder {
        color: white;
      }
      &:focus {
        color: white;
      }
    }

    i.icon {
      // position: absolute;
      // right: 0;
      cursor: pointer;
    }

    #search-input-icon {
      padding: 4px 4px 4px 10px;
      font-size: 16px;
      color: white;
    }

    #search-close-icon {
      margin-left: 100px;
      font-size: 22px;
      padding: 2px;
      color: white;
    }

  }


  #search-results-box.results {
    min-width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #dddddd;
    color: #0d2e5c;
    position: absolute;
    white-space: nowrap;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    .search-result {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 280px;
      font-size: 13px;
    }
  }
}


//.search-box {
//  display: inline-block;
//  margin-right: 20px;
//  height: 34px;
//  position: relative;
//  input.search {
//    margin-top: 5px;
//    padding: 4px 30px 4px 10px;
//    background-color: $search-box-bg-color;
//    outline: none;
//    border: none;
//    color: #93b4e7;
//    &::placeholder {
//      color: #93b4e7;
//    }
//    &:focus {
//      background-color: $search-box-bg-hover-color;
//      color: white;
//    }
//  }
//  #search-input-icon {
//    color: #93b4e7;
//    position: absolute;
//    top: 2px;
//    right: 0;
//    padding: 10px;
//    cursor: pointer;
//  }
//}