html{
    /* for footer */
    /*position: relative;*/
    height: 100%;
}

body{
    /* Margin bottom by footer height */
    padding-bottom: 50px;
    /*height:100%;*/
}

.navbar-brand{
    padding: 10px;
}
.navbar-brand img{
    margin-right: 5px;
}

footer{
    color: #555555;
    /*border-top: 1px solid #F0F0F0;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #f2f2f2;
}

nav{
    margin: 0 !important;
}

/*================ editor page ===================== */
#main-container{

}

#main {
    position:absolute; top: 100px; left:0px; right:0px; bottom:100px;
    border: solid 1px yellow;
}

.editors{
    width: 100%;
}

.column-container{
    display: flex;
    flex-direction: row;
}

.cont1{
    display: flex;
    flex-direction: row;
    margin: 0! important;
}

#markup-editor, #code-editor, #style-editor{

}
.editor-box{
    width: 100%;
    height: 100%;
    border: solid 1px #DDDDDD;
}

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 100%;
    font-size: 12px;
    word-wrap: break-word;
}

.result{
    width: 100%;
    height: 100%;
    border: solid 1px #DDDDDD;
}

.iframe-result{
    border: none;
    width: 100%;
    height: 100%
}

/* --------- settings window -----------*/
.settings-tabs{
    margin-bottom: 7px;
}

.settings-window{
    display: inline-block;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 1000;
}
.settings-window-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: black;
    opacity: 0.5;
    z-index: -100;
}
/* The ghost, nudged to maintain perfect centering */
.settings-window:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}
.settings-window-container {
    /*border: 2px solid #888888;*/
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    position: relative;
    width: 650px;
    padding: 20px;
}
.settings-window-container .form-inline .form-group{
    margin-right: 20px;
}
.settings-window-container .form-inline .form-group label{
    margin-right: 5px;
}


/*----- embed window ----*/
textarea.embed-iframe{
    min-height: 110px;
    margin-bottom: 5px;
}


/* ---- data set ---- */
.data-sets-item{
    margin-bottom: 5px;
}
.data-sets-item p {
    margin-bottom: 5px;
}
.data-sets-item h5 {
    margin: 5px 0;
}
.data-sets-item .data-sets-item-icon {
    text-align: right;
}
.data-sets-item .col-md-7 {
    padding: 0;
}
.settings-window .data-sets-item img{
    max-width: 80px;
    max-height: 50px;
}
.data-sets-item .tag {
    margin-left: 1px;
    font-size: 59%;
}
.data-sets-item .usage-sample-button {
    display:block;
    margin-bottom:6px;"
}