html {
    /* for footer */
    height: 100%;
}

body {
    height: 100%;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.content {
    display: table-row;
    /* height is dynamic, and will expand... */
    height: 100%;
    /* ...as content is added (won't scroll) */
}

/* navbar */
nav {
    margin: 0 !important;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand img {
    margin-right: 5px;
}

.jumbotron button {
    margin: 5px;
}

/* footer */
footer {
    color: #555555;
    /*border-top: 1px solid #F0F0F0;*/
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    display: table-row;
}

footer p {
    margin: 10px 0;
}

.footer .container {
    padding-bottom: 20px;
}

/* repo page */
.branches {
    padding: 20px;
}

#prev-next-buttons {
    margin-bottom: 20px;
}

#prev-next-buttons button {
    margin: 2px;
}

.samples-container {
    padding-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.sample-box {
    border: 1px solid #DDDDDD;
    border-radius: 0;
    padding: 15px;
    margin-top: 25px;
    background-color: white;
}

.sample-icon {
    padding-right: 8px;
}

.sample-info p:last-of-type {
    margin: 0px;
}

.sample-info-likes {
    float: right;
    padding-left: 10px;
    background-color: white;
}

.sample-info-likes .views-count {
    padding: 0 4px;
}

.sample-box .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 270px;
}

.iframe-preview {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
}

.image-preview {
    width: 100%;
    height: 100%;
    border: none;
    position: absolute;
    object-fit: contain;
    object-position: center;
    /*width: 100px;
    height: 100px;*/
    /*background-position: center center;
    background-repeat: no-repeat;*/
}

.iframe-height-child {
    border: 1px solid #999999;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.iframe-height-scaling {
    /*padding-top: 66.66%;
    position: relative;
    top: 0;
    left: 0;*/
    width: 100%;
    display: inline-block;
    position: relative;
}

.iframe-height-scaling:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

/*================ standalone iframe =============== */
.iframe-standalone {
    border: none;
    width: 100%;
    height: 100%
}

.iframe-standalone-box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    padding: 70px 20px;
    z-index: -1;
}
