@media (max-width: 1060px) {

  html body {

    header div.header-box {
      flex-wrap: wrap;

      ul.nav.navbar-nav.left-navbar > li > button {
        color: white;
        background-color: $intro-bg-color;
        height: 100%;
        &:hover {
          color: white;
        }
        .icon {
          background-color: white;
        }
        &:hover {
          color: $header-menu-bg-hover-color;
          div.icon {
            background-color: $header-menu-bg-hover-color;
          }
        }
        &:active, &:focus, &.active {
          color: $intro-bg-color;
          background-color: white;
          div.icon {
            background-color: $intro-bg-color;
          }
        }
      }

      .left-navbar {
        margin: 0 !important;
        height: 100%;
      }

    }

    .top-menu {
      order: 2;
      width: 100%;
      background-color: $intro-bg-color;
      border-top: 1px solid $intro-bg-color;
      height: 58px;
    }

  }
}

// change dropdown menus positions
@media (max-width: 700px) {
  .dropdown-menu-download {
    right: 0;
    left: auto !important;
  }
  .dropdown-menu-view {
    left: -50% !important;
  }
}

// padding to settings window on resize
@media (max-width: 660px) {
  .settings-window {
    padding: 0 30px;
    box-sizing: content-box;
  }
}

// padding to export window on resize
@media (max-width: 580px) {
  .export-window {
    padding: 0 30px;
    box-sizing: content-box;
  }
}

// export props inputs to vertical column
@media (max-width: 440px) {
  .export-window .props-box {
    flex-wrap: wrap;
    .form-group:nth-child(n+0) {
      margin-bottom: 5px;
      label {
        width: 40px;
      }
      input {
        width: 115px;
      }
    }
    .form-group:last-child {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
}

// reduce margin fot sub tabs on export window
@media (max-width: 400px) {
  .dropdown-window .nav.sub-tabs li a {
    margin-right: 5px;
  }
}


