.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 100%;
  font-size: 12px;
  word-wrap: break-word;
  background-color: $main-bg-color;
  .CodeMirror-gutters {
    background-color: $main-bg-color;
    //border-right: 1px solid #95bfd3;
    border-right: none;
  }
  .CodeMirror-linenumber {
    color: $settings-border-color;
  }
}


.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  background: #b0d5e6;
}
.CodeMirror-overlayscroll-vertical {
  width: 8px;
}
.CodeMirror-overlayscroll-horizontal {
  height: 8px;
}