.ac-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: #e7edef6b;
  display: flex;
  justify-content: center;
  align-items: center;

  .ac-modal-dialog {
    text-align: left;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1003;
    padding: 20px;
    max-width: 300px;
    font-size: 12px;
    margin-top: -40px;
    .ac-modal-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
      .modal-title {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
      }
      button.close {
        -webkit-appearance: none;
        padding: 0;
        cursor: pointer;
        background: 0 0;
        border: 0;
        font-size: 22px;
        float: right;
        font-weight: 700;
        color: #CCCCCC;
        line-height: 18px;
        &:hover {
          color: #999999;
        }
      }
    }
    .ac-modal-body {
      padding: 10px 0;
    }
    .ac-modal-footer {
      padding-top: 15px;
      text-align: right;
      border-top: 1px solid #e5e5e5;
      button.ac-btn.add-btn {
        margin-right: 10px;
      }
    }
  }
}
