.column-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  margin-top: 58px;
  margin-left: 235px;

  .editor-container {
    position: relative;
    background-color: $main-bg-color;

    .top-line {
      width: 100%;
      height: 35px;
      background-color: $main-bg-color;
      user-select: none;
      //border-bottom: 1px solid #95bfd3;

      .editor-label-name {
        font-size: 12px;
        color: $footer-caption-color;
        margin-left: 20px;
        margin-top: 10px;
        display: inline-block;
      }

      label.autocomplete-box {
        display: flex;
        position: absolute;
        right: 80px;
        top: 10px;
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
        color: $footer-caption-color;
        input {
          opacity: 0;
          width: 0;
          display: none;
        }
        span::before {
          position: absolute;
          content: "";
          display: inline-block;
          height: 12px;
          width: 12px;
          border: 1px solid;
          margin-top: 2px;
          left: -16px;
          border-radius: 0px;
        }
        span::after {
          position: absolute;
          content: "";
          display: inline-block;
          height: 6px;
          width: 8px;
          border-left: 2px solid;
          border-bottom: 2px solid;
          transform: rotate(-45deg);
          left: -14px;
          top: 4px;
        }
        /*Hide the checkmark by default*/
        input[type="checkbox"] + span::after {
          content: none;
        }
        /*Unhide the checkmark on the checked state*/
        input[type="checkbox"]:checked + span::after {
          content: "";
        }
      }

      // Copy and other editors buttons
      .editor-label {
        background-color: rgba(246, 246, 246, 0.8);
        position: absolute;
        top: 11px;
        z-index: 100;
        font-size: 11px;
        //letter-spacing: 1.2px;
        color: $footer-caption-color;
        display: flex;
        cursor: pointer;
        text-transform: uppercase;
        user-select: none;
        &.editor-label-gear {
          right: 77px;
        }
        &.editor-label-copy {
          right: 15px;
        }
        &:hover, &:focus {
          text-decoration: none;
          color: $intro-bg-color;
          div.icon {
            background-color: $intro-bg-color;
          }
        }
        div.icon {
          height: 14px;
          width: 14px;
          display: inline-block;
          background-color: #80a9bd;
          -webkit-mask-size: contain;
          mask-size: contain;
          margin-left: 5px;
          &.icon-copy {
            mask-image: url(/icons/editor/copy.svg);
            mask-size: 14px 14px;
            -webkit-mask-image: url(/icons/editor/copy.svg);
            -webkit-mask-size: 14px 14px;
          }
          &.icon-settings {
            mask-image: url(/icons/editor/settings.svg);
            mask-size: 14px 14px;
            -webkit-mask-image: url(/icons/editor/settings.svg);
            -webkit-mask-size: 15px 15px;
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .editor-box {
      width: 100%;
      height: calc(100% - 35px);
    }

    // Code context menu
    .code-context-menu {
      background-color: white;
      padding: 15px;
      position: absolute;
      top: 40px;
      right: 20px;
      z-index: 101;
      box-shadow: 0 0 5px rgba(57, 70, 78, .15), 0 20px 55px -8px rgba(57, 70, 78, .25);
      .code-context-menu-close-icon {
        cursor: pointer;
      }
      select {
        max-width: 200px;
      }
    }

  }
}
