body {

  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 1.42857143;

  input, textarea, select, button {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: white;
    padding: 6px 12px;
    &:Focus {
      outline: none;
    }
  }

  label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    margin: 0 0 10px;
  }

  button {
    cursor: pointer;
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }


  .dropdown {
    position: relative;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    //margin: .125rem 0 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    //border-radius: .25rem;
    &>li>a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
    .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
  }
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  // drop-menu icon position
  img {
    vertical-align: middle;
  }
  a {
    text-decoration: none;
  }

  // for standalone mode, first title
  .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

}