html {
  /* for footer */
  /*position: relative;*/
  height: 100%;

  body {
    /* Margin bottom by footer height */
    padding-bottom: 50px;
    /* for tips hidden scroll */
    overflow: hidden;

    margin: 0;

    header {
      //height: 58px;
      box-sizing: content-box;
      width: 100%;
      position: fixed;
      z-index: 200;
      top: 0;
      //border-bottom: 1px solid $settings-border-color;
      //box-shadow: 0 0px 12px rgba(0,0,0,0.175);
      box-shadow: 0 0px 8px #acd0ec;

      .header-box {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 0 !important;
        height: 100%;

        .navbar-brand {
          display: flex;
          font-size: 17px;
          padding: 8px 0;
          margin: 7px 0 7px 14px;
          height: 28px;
          box-sizing: content-box;
          .border-icon {
            //border-color: $intro-bg-color;
            border-color: #70b2e4;
          }
          .brand-label {
            margin-left: 10px;
            margin-top: 2px;
            b {
              font-weight: 600;
              @media (max-width: 460px) {
                display: none;
              }
            }
          }
        }

        div.top-menu {
          //text-align: center;
          .left-navbar {
            justify-content: center;
            & > li {
              float: left; // always horizontal, prevent vertical
              // collapse main menu texts
              @media (max-width: 640px) {
                & > button > span:not(.caret) {
                  display: none;
                }
              }
            }

            img.icon {
              width: 20px;
              height: 20px;
              margin-right: 15px;
              &.download-icon {
                width: 22px;
                height: 22px;
              }
            }

            div.icon {
              height: 20px;
              width: 20px;
              display: inline-block;
              background-color: $intro-bg-color;
              margin-right: 4px;
              mask-size: contain;
              -webkit-mask-size: contain;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              mask-position: center;
              -webkit-mask-position: center;
              &.icon-run {
                mask-image: url(/icons/editor/run.svg);
                -webkit-mask-image: url(/icons/editor/run.svg);
                width: 11px;
              }
              &.icon-fork {
                mask-image: url(/icons/editor/fork.svg);
                -webkit-mask-image: url(/icons/editor/fork.svg);
                width: 16px;
              }
              &.icon-save {
                mask-image: url(/icons/editor/download.svg);
                -webkit-mask-image: url(/icons/editor/download.svg);
                transform: rotate(180deg);
                width: 16px;
              }
              &.icon-embed {
                mask-image: url(/icons/editor/embed.svg);
                -webkit-mask-image: url(/icons/editor/embed.svg);
              }
              &.icon-settings {
                mask-image: url(/icons/editor/setting.svg);
                -webkit-mask-image: url(/icons/editor/settings.svg);
                width: 16px;
              }
              &.icon-view {
                mask-image: url(/icons/editor/view.svg);
                -webkit-mask-image: url(/icons/editor/view.svg);
                width: 16px;
              }
              &.icon-editor {
                mask-image: url(/icons/editor/editor.svg);
                -webkit-mask-image: url(/icons/editor/editor.svg);
              }
              &.icon-download {
                mask-image: url(/icons/editor/download2.svg);
                -webkit-mask-image: url(/icons/editor/download2.svg);
                transform: rotate(180deg);
                width: 16px;
              }
            }

            span.glyphicon-warning-sign, .icon-warning {
              color: $warning-sign-color;
              margin-top: 2px;
              margin-left: 4px;
              font-size: 15px;
            }

            .search-box {
              display: inline-block;
              position: relative;
              margin-left: 30px;
              height: 34px;
              font-size: 12px;
              float: left;
              input.search {
                margin-top: 3px;
                padding: 4px 30px 4px 10px;
                background-color: white;
                outline: none;
                border: 1px solid $settings-border-color;
                color: $settings-border-color;
                &::placeholder {
                  color: $settings-border-color;
                }
                &:focus {
                  color: $text-color;
                  border: 1px solid $intro-bg-color;
                  & + .glyphicon-search {
                    color: $intro-bg-color;
                  }
                }
              }
              .glyphicon {
                color: $settings-border-color;
                position: absolute;
                right: 0;
                padding: 10px;
                //pointer-events: none;
                cursor: pointer;
              }
              #search-results-box.results {
                z-index: 200;
                text-align: left;
                min-width: 200px;
                padding: 10px;
                background-color: white;
                border: 1px solid $main-bg-color;
                color: #0d2e5c;
                position: absolute;
                white-space: nowrap;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
                .search-result {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 280px;
                }
              }
            }
          }
        }

        ul.nav.navbar-nav {
          float: none;
          display: flex;
          margin: 11px 0 0 0;
          list-style: none;
          padding: 0;

          & > li > button {
            outline: none;
            color: $intro-bg-color;
            display: flex;
            padding: 7px 12px;
            border: none;
            span.caret {
              margin-top: 8px;
              margin-left: 2px;
            }
            &:hover, &:active, &:focus, &.active {
              color: #0e5f89;
              background-color: rgba(0, 0, 0, 0);
              text-decoration: none;
              div.icon {
                background-color: #0e5f89;
              }
            }
          }
          & > li.dropdown > button {
            &:active, &:focus, &.active {
              background-color: $editor-nav-bg-color;
              color: white;
              div.icon {
                background-color: white;
              }
            }
          }
        }

        ul.nav.navbar-nav.navbar-right {
          /*@media (max-width: 550px) {
            display: none;
          }*/
          .caret {
            margin-left: 10px;
          }
          margin-right: 20px;
          & > li > a, & > li > button {
            font-size: 14px;
          }
          a, button {
            text-transform: uppercase;
          }
          ul {
            padding: 13px 0;
            li a, li button {
              padding: 3px 20px 3px 15px;
              img {
                height: 22px;
                width: 30px;
                object-fit: contain;
                margin: 0 10px 0 0;
              }
            }
          }
        }

        .icon-search {
          padding: 10px 10px 8px;
          margin-right: 27px;
          font-size: 14px;
          cursor: pointer;
          color: $intro-bg-color;
        }
      }
    }

  }
}

// =================== Iframe result ==================
.result {
  position: relative;
  .iframe-hider {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .iframe-result {
    width: 100%;
    height: 100%;
    border: none;
  }
}

//======================================================================================================================
//  Buttons
//======================================================================================================================
.btn {
  font-size: 14px;
}

.btn-link {
  border-color: transparent;
  border: none;
}

.ac-btn {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  width: 73px;
  min-width: 73px;
  height: 28px;
  color: white;
  border-radius: 4px;
  outline: none;
  padding: 0;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

a.ac-btn {
  line-height: 28px;
}

.add-btn {
  background-color: $intro-bg-color;

  &:active {
    background-color: $intro-bg-color-active;
  }
}

.remove-btn {
  background-color: $red-color;
  &:active {
    background-color: $red-color-active;
  }
}
