.tooltiped {
  position: relative;
  display: inline-block;
  .tooltip-box {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    max-width: 440px;
    white-space: pre;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px 7px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -5px;
    visibility: hidden;
    opacity: 0;
    //visibility: visible;
    //opacity: 1;
    transition: opacity 0.2s ease-out 0.1s, visibility 0.3s;
    a {
      margin-top: 2px;
      display: block;
      color: #afdbf1;
    }
  }
  &:hover .tooltip-box {
    transition: opacity .2s ease-out;
    visibility: visible;
    opacity: 1;
  }
}