html {
  /* for footer */
  height: 100%;
  body {

    height: 100%;
    background-color: $main-bg-color;
    font-family: 'Open Sans', sans-serif;;
    font-size: 13px;
    color: $text-color;

    /* override bootstrap caret position to fit our default font-family and font-size */
    .caret {
      margin-top: -2px;
      margin-left: 4px;
    }
    a.dropdown-toggle::after {
      vertical-align: .155em;
    }
    .dropdown-menu {
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }

    .wrapper {
      display: table;
      height: 100%;
      width: 100%;
      // for fixed navbar
      padding-top: 58px;
      header {
        // for fixed navbar
        position: fixed;
        width: 100%;
        z-index: 3;
        top: 0;

        color: white;
        height: 58px;
        background-color: $nav-bg-color;

        nav.navbar {
          padding: 0;

          .menu-line {
            display: flex;
            flex-grow: 1;
            margin-top: 8px;
          }

          .bars-switcher {
            //display: none;
            margin-right: 20px;
            cursor: pointer;
            font-size: 23px;
            padding: 10px;
          }

          .navbar-brand {
            color: white;
            font-size: 17px;
            padding: 10px 0;
            margin-top: 4px;
            display: flex;
            img {
              margin-right: 22px;
            }
            &:hover {
              color: white;
            }
            .border-icon {
              position: relative;
            }
            div.brand-label {
              margin-left: 10px;
              margin-top: 2px;
            }
          }

          ul.navbar-nav {
            div.dropdown-menu {
              padding: 15px 0;
              a.dropdown-item {
                font-size: 13px;
                font-weight: 600;
                color: $intro-bg-color;
                line-height: 30px;
                &:hover {
                  background-color: $header-menu-bg-hover-color;
                }
              }
            }
            & > li > a {
              color: white;
              padding: 7px 12px;
              background-color: rgba(0, 0, 0, 0);
              &:hover, &:active, &:focus {
                color: $nav-bg-links-hover-color;
              }
            }
          }

          .navbar-left {
            display: none;
          }
          ul.navbar-nav.navbar-right {
            .search-box {
              display: inline-block;
              margin-right: 20px;
              height: 34px;
              position: relative;
              input.search {
                margin-top: 5px;
                padding: 4px 30px 4px 10px;
                background-color: $search-box-bg-color;
                //border: 1px solid #1796bf;
                outline: none;
                border: none;
                color: #93b4e7;
                &::placeholder {
                  color: #93b4e7;
                }
                &:focus {
                  background-color: $search-box-bg-hover-color;
                  color: white;
                }
              }
              #search-input-icon {
                color: #93b4e7;
                //font-size: 13px;
                position: absolute;
                top: 2px;
                right: 0;
                padding: 10px;
                //pointer-events: none;
                cursor: pointer;
              }
              #search-results-box.results {
                min-width: 200px;
                padding: 10px;
                background-color: white;
                border: 1px solid $main-bg-color;
                color: #0d2e5c;
                position: absolute;
                white-space: nowrap;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
                .search-result {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 280px;
                }
              }
            }

            .dropdown {
              a {
                text-transform: uppercase;
              }
            }
            & > li > a {
              font-size: 14px;
            }
            div.dropdown-menu {
              padding: 13px 0;
              position: absolute;
              left: -100px;
              a.dropdown-item {
                padding: 3px 20px 3px 15px;
                img {
                  height: 22px;
                  width: 30px;
                  object-fit: contain;
                  margin: 0 10px 0 0;
                }
              }
            }

          }
        }
      }

      .intro {
        background-color: $intro-bg-color;
        color: $intro-color;
        background-image: url('/shapes.png');
        //background-position: center;
        background-position: calc(50% + 235px) 130%;
        .text {
          padding: 17px 40px 0px;
          .description {
            font-size: 18px;
            a {
              color: #a9d9ff;
              &:hover {
                color: white;
              }
            }
          }
        }
        h1 {
          font-size: 50px;
        }
      }

      .create-box {
        position: relative;
        display: none;
        &:before {
          top: 0;
          left: 0;
          width: 50%;
          display: block;
          content: "";
          height: 96px;
          background-color: #287ec6;
          position: absolute;
        }
        &:after {
          top: 0;
          right: 0;
          width: 50%;
          display: block;
          content: "";
          height: 96px;
          background-color: #37629d;
          position: absolute;
          z-index: 1;
        }
        .container-fluid {
          position: relative;
          z-index: 2;
        }
        .create-buttons {
          z-index: 2;
          display: flex;
          a {
            padding: 25px;
          }
          .create-button {
            flex-grow: 1;
            height: 96px;
            display: flex;
            position: relative;
            background-color: #264571;
            cursor: pointer;
            font-size: 15px;
            img {
              margin: 9px 10px 0 0;
              height: 28px;
              max-width: 46px; // to crop geomap icon
            }
            div.text {
              text-transform: uppercase;
              color: white;
              .template {

              }
            }
            &:nth-child(1) {
              background-color: #287ec6;
            }
            &:nth-child(2) {
              background-color: #2c77bc;
            }
            &:nth-child(3) {
              background-color: #2f70b1;
            }
            &:nth-child(4) {
              background-color: #3369a7;
            }
            &:nth-child(5) {
              background-color: #37629d;
            }
            &:nth-child(6) {
              background-color: #305587;
            }
            &:hover {
              background-color: $create-button-bg-hover-color;
              text-decoration: none;
            }
          }

        }
      }

      .content {
        /*.content-container{
          margin-top: 58px;
        }*/
        display: table-row;
        /* height is dynamic, and will expand... */
        height: 100%;
        /* ...as content is added (won't scroll) */

        h1 {
          font-size: 18px;
          color: $red-color;
          margin-top: 40px;
        }
      }

      footer {
        font-size: 12px;
        color: #555555;
        bottom: 0;
        width: 100%;
        background-color: $footer-color;
        display: table-row;
        b {
          line-height: 20px;
        }
        a {
          color: $text-color;
          line-height: 20px;
        }
        .content-container {
          margin-top: 23px;
        }
        .caption {
          color: $footer-caption-color;
        }
        .dataset {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

      }
    }
  }
}

.footer-bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0 50px;
  .copyright {
    color: $copyright-color;
    font-size: 11px;
    a {
      color: $copyright-color;
    }
  }
  .footer-inner {
    display: inline-block;
    margin: 0 15px 0 0;
    a.soc-network {
      display: inline-block;
      &:hover, &:focus {
        text-decoration: none;
        color: #fff;
        .soc-network-icon {
          border-color: #85caff;
          color: #85caff;
        }
      }
      .soc-network-icon {
        font-size: 14px;
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        line-height: 23px;
        text-align: center;
        border-radius: 50%;
        color: $sn-color;
        background-color: $sn-bg-color;
        &.tw {
          font-size: 17px;
          line-height: 26px;
        }
        &.in {
          font-size: 13px;
        }
        &:hover, &:focus {
          color: white;
          background-color: $sn-bg-hover-color;
        }
      }
    }
  }
}



.hidden-extra-mobile{
  @media (max-width: 430px) {
    display: none;
  }
}
