html {
  /* for footer */
  height: 100%;
  body {

    height: 100%;
    background-color: $main-bg-color;
    font-family: 'Open Sans', sans-serif;;
    font-size: 13px;
    color: $text-color;

    /* override bootstrap caret position to fit our default font-family and font-size */
    .caret {
        margin-top: -2px;
        margin-left: 4px;
    }

    .wrapper {
      display: table;
      height: 100%;
      width: 100%;
      // for fixed navbar
      padding-top: 58px;
      header {
        // for fixed navbar
        position: fixed;
        width: 100%;
        z-index: 3;
        top: 0;

        color: white;
        height: 58px;
        background-color: $nav-bg-color;
        .navbar-header{
          padding: 5px 25px 0 0;
          .navbar-brand {
            color: white;
            font-size: 17px;
            padding: 10px 0;
            img {
              margin-right: 22px;
            }
            &:hover{
              color: white;
            }
          }
        }
        ul.nav.navbar-nav {
          margin-top: 11px;
          ul{
            padding: 15px 0;
            a {
              font-size: 13px;
              font-weight: 600;
              color: #19a1ce;
              line-height: 30px;
              &:hover{
                background-color: #c2eaf7;
              }
            }
          }
          & > li > a {
            color: white;
            padding: 7px 12px;
            background-color: rgba(0,0,0,0);
            &:hover, &:active, &:focus{
              color: #58cdf5;
            }
          }
        }
        ul.nav.navbar-nav.navbar-right{
          & > li > a{
            font-size: 14px;
          }
          a {
            text-transform: uppercase;
          }
          ul {
            padding: 13px 0;
            li a {

              padding: 3px 20px 3px 15px;
              img {
                height: 22px;
                width: 30px;
                object-fit: contain;
                margin: 0 10px 0 0;
              }
            }
          }
        }
      }

      .intro{
        background-color: $nav-bg-color;
        color: $intro-color;
        background-image: url('/shapes.png');
        background-position: center;
        .text{
          padding: 0 40px;
          .description{
            font-size: 18px;
          }
        }
        h1{
          font-size: 50px;
        }
      }

      .create-box{
        position: relative;
        &:before{
          top: 0;
          left: 0;
          width: 50%;
          display: block;
          content: "";
          height: 96px;
          background-color: #264571;
          position: absolute;
        }
        &:after{
          top: 0;
          right: 0;
          width: 50%;
          display: block;
          content: "";
          height: 96px;
          background-color: #0d2e5c;
          position: absolute;
          z-index: 1;
        }
        .container-fluid{
          position: relative;
          z-index: 2;
        }
        .create-buttons{
          z-index: 2;
          display: flex;
          a{
            padding: 25px;
          }
          .create-button{
            flex-grow: 1;
            height: 96px;
            display: flex;
            position: relative;
            background-color: #264571;
            //width: 20%;
            cursor: pointer;
            font-size: 15px;
            img{
              margin: 0 10px 0 0;
              //position: absolute;
              //display: inline-block;
            }
            div.text{
              //display: inline-block;
              text-transform: uppercase;
              color: white;
              //padding: 0 0 0 40px;
              .create{

              }
            }
            &:nth-child(1){
              background-color: #264571;
            }
            &:nth-child(2){
              background-color: #203f6c;
            }
            &:nth-child(3){
              background-color: #193a66;
            }
            &:nth-child(4){
              background-color: #133461;
            }
            &:nth-child(5){
              background-color: #0d2e5c;
            }
            &:hover{
              background-color: #1978a4;
              text-decoration: none;
            }
          }

        }
      }

      .content {
        /*.content-container{
          margin-top: 58px;
        }*/
        display: table-row;
        /* height is dynamic, and will expand... */
        height: 100%;
        /* ...as content is added (won't scroll) */
        .jumbotron button {
          margin: 5px;
        }
      }


      .toggle-tabs {
        //display: none;
        a {
          padding: 4px 15px;
          font-size: 13px;
          color: #80a9bd;
          border: none;
          background: none;
          text-decoration: none;
          margin-right: 6px;
          span {
            border-bottom: 1px dotted;
          }
          &:hover{
            color: #19a1ce;
          }
          &.active{
            color: #222222;
            border: 1px solid #83bbcd;
            border-radius: 4px;
          }
        }
      }

      .tabs{
        display: inline-block;
        a {
          display: inline-block;
          text-transform: uppercase;
          color: #008ebe;
          padding: 7px 12px;
          font-weight: 600;
          cursor: pointer;
          margin-right: 17px;
          span {
            border-bottom: 1px dotted;
          }
          &:hover{
            text-decoration: none;
            background-color: #c2dae5;
            span {
              border: none;
            }
          }
          &.active {
            color: white;
            background-color: #19a1ce;
            text-decoration: none;
            span{
              border: none;
            }
          }
        }
      }




      footer {
        font-size: 12px;
        color: #555555;
        bottom: 0;
        width: 100%;
        background-color: $footer-color;
        display: table-row;
        b {
          line-height: 20px;
        }
        a{
          color: $text-color;
          line-height: 20px;
        }
        .content-container {
          margin-top: 23px;
        }
        .caption {
            color: #80a9bd;
        }
        .dataset{
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .footer-bottom-box{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 70px 0 50px;
          .copyright {
            color: #80a9bd;
            font-size: 11px;
            a {
              color: #80a9bd;
            }
          }
          .footer-inner {
            display: inline-block;
            margin: 0 15px 0 0;
            a.soc-network {
              display: inline-block;
              &:hover, &:focus {
                text-decoration: none;
                color: #fff;
                .soc-network-icon{
                  border-color: #85caff;
                  color: #85caff;
                }
              }
              .soc-network-icon {
                font-size: 14px;
                display: inline-block;
                margin-right: 7px;
                vertical-align: middle;
                width: 24px;
                height: 24px;
                line-height: 23px;
                text-align: center;
                border-radius: 50%;
                color: #95bfd3;
                //border: 1px solid #d5e3e8;
                background-color: #d5e3e8;
                &.tw{
                  font-size: 17px;
                  line-height: 26px;
                }
                &.in {
                  font-size: 13px;
                }
                &:hover, &:focus{
                  color: white;
                  background-color: #19a1ce;
                }
              }
            }

          }
        }



      }
    }
  }
}

