.data-sets-item {
  .data-sets-item-icon {
    text-align: right;
    img {
      width: 100%;
      height: 100%;
      max-width: 200px;
      margin-top: 20px;
    }
  }
  .tag {
    margin-left: 4px;
  }
  .usage-sample-button {
    display: block;
    margin-bottom: 6px;
  }
}