.prev-next-buttons {
  margin-bottom: 20px;
  .prev-button, .next-button{
    background: none;
    border: 1px solid #19a1ce;
    color: #19a1ce;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 12px;
    margin-right: 10px;
    &:hover{
      background-color: #19a1ce;
      color: white;
    }
  }
}

.content-container {
  max-width: 972px;
  margin: 0 auto;
  width: 100%;
}

.popular-label{
  color: $red-color;
  font-size: 15px;
  text-transform: uppercase;
  margin: 40px 0 10px;
}


.sample-box {
  border: 1px solid #DDDDDD;
  border-radius: 0;
  padding: 15px;
  margin-bottom: 25px;
  background-color: white;
  min-height: 271px;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  @include transition(150ms, ease);
  @include transform(scale(1));
  &:hover, &:focus {
    text-decoration: none;
    @include transition(150ms, ease);
    @include transform(scale(1.08));
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .iframe-height-scaling {
    width: 100%;
    display: inline-block;
    position: relative;
    :after {
      padding-top: 56.25%;
      /* 16:9 ratio */
      display: block;
      content: '';
    }
    .image-preview {
      width: 100%;
      height: 100%;
      border: none;
      position: absolute;
      object-fit: contain;
      object-position: center;
    }
    .iframe-preview {
      width: 100%;
      //height: 100%;
      border: none;
      position: absolute;
      height: 150px;
    }
  }

  .sample-info{
    position: absolute;
    bottom: 6px;
  }
  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 270px;
    margin-bottom: 4px;
    a {
      font-size: 14px;
      color: #008ebe;
    }
  }
  .description {
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    width: 270px;
    font-size: 12px;
    color: #222222;
    
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.0em;
    line-height: 1.5em;
    a {
      color: #222222;
      &:hover, &:focus{
        text-decoration: none;
        color: #222222;
      }
    }
  }
  .bottom-info {
    color: #80a9bd;
    .likes-and-views {
      float: right;
      padding-left: 10px;
      background-color: white;
      .views-count {
        padding: 0 4px;
      }
      .sample-icon {
        padding-right: 8px;
      }
      a {
        color: #80a9bd;
        &:hover, &:focus{
          text-decoration: none;
          color: #80a9bd;
        }
      }
      .likes{
        display: none;
      }
    }
    .author-and-date{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    p:last-of-type {
      margin: 0px;
    }
  }
}

/*
.iframe-height-child {
  border: 1px solid #999999;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
*/

