.prev-next-buttons {
  margin-bottom: 30px;
  &.top {
    margin-top: 20px;
  }
  &.bottom {
    margin-bottom: 45px;
  }
  height: 30px;
  display: flex;
  justify-content: space-between;
  .prev-button, .next-button{
    background: none;
    border: 1px solid $intro-bg-color;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: $intro-bg-color;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 12px;
    &:hover{
      background-color: $intro-bg-color;
      color: white;
      text-decoration: none;
    }
  }
  .next-button{
    float: right;
  }
  .pagination {
    margin: 0;
    li {
      &:first-child>a {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
      &:last-child>a {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      a {
        color:  $intro-bg-color;
        background-color: transparent;
        border: 1px solid;
        border-color: $intro-bg-color;
        padding: 6px 12px;
        margin-left: -1px;
        box-shadow: none;
        &:hover {
          text-decoration: none;
          &:not(.dots) {
            color: white;
            background-color: $intro-bg-color;
          }
        }
        &.dots {
          cursor: default;
        }
      }
      &.active a {
        color: white;
        background-color: $intro-bg-color;
        z-index: auto;
      }
    }
  }
}


.popular-label{
  color: $red-color;
  font-size: 18px;
  text-transform: uppercase;
  margin: 40px 0 10px;
}


.sample-box-fake {
  min-width: 294px;
}


.sample-box {
  border: 1px solid #DDDDDD;
  border-radius: 0;
  padding: 15px;
  margin-bottom: 30px;
  background-color: white;
  min-height: 272px;
  //min-width: 280px;
  min-width: 294px;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);

  @include transition(150ms, ease);
  @include transform(scale(1));
  &:hover, &:focus {
    text-decoration: none;
    @include transition(150ms, ease);
    @include transform(scale(1.08));
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .iframe-height-scaling {
    width: 100%;
    display: inline-block;
    position: relative;
    :after {
      padding-top: 56.25%;
      /* 16:9 ratio */
      display: block;
      content: '';
    }
    .image-preview {
      width: 100%;
      height: 100%;
      border: none;
      position: absolute;
      object-fit: contain;
      object-position: center;
    }
    .iframe-preview {
      width: 100%;
      height: 100%;
      border: none;
      position: absolute;
    }
  }

  .sample-info{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    padding: 0 15px;
  }
  .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    a {
      font-size: 14px;
      color: $sample-name-color;
    }
  }
  .description {
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    font-size: 12px;
    color: #222222;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.0em;
    line-height: 1.5em;
    a {
      color: #222222;
      &:hover, &:focus{
        text-decoration: none;
        color: #222222;
      }
    }
  }
  .bottom-info {
    color: $sample-author-color;
    display: flex;
    .likes-and-views {
      padding-left: 10px;
      background-color: white;
      .views-count {
        padding: 0 4px;
      }
      .sample-icon {
        padding-right: 8px;
      }
      a {
        color: $sample-author-color;
        &:hover, &:focus{
          text-decoration: none;
          color: $sample-author-color;
        }
      }
      .likes{
        display: none;
      }
    }
    .author-and-date{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    p:last-of-type {
      margin: 0;
    }
  }
}

/*
.iframe-height-child {
  border: 1px solid #999999;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
*/

