body {

  #main-container{
    widtH: 500px;

    select {
      width: 200px;
      -webkit-appearance: menulist-button;
    }

    select, a, button {
      margin-right: 10px;
    }

    .admin-panel {
      margin-bottom: 40px;
    }
  }
}