html {
  /* for footer */
  /*position: relative;*/
  height: 100%;

  body {
    /* Margin bottom by footer height */
    padding-bottom: 50px;
    /* for tips hidden scroll */
    overflow: hidden;

    nav {
      margin: 0 !important;
      .navbar-brand {
        padding: 10px;
        img {
          margin-right: 5px;
        }
      }
    }

    footer {
      color: #555555;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background-color: #f2f2f2;
    }
  }
}


.column-container {
  display: flex;
  flex-direction: row;
  .splitter {
    display: flex;
    flex-direction: row;
    margin: 0 ! important;
    .editor-container {
      width: 100%;
      height: 100%;
      position: relative;

      .editor-box {
        width: 100%;
        height: 100%;
        border: solid 1px #DDDDDD;
      }

      // Copy and other editors buttons
      .editor-label {
        background: rgba(255, 255, 255, .8);
        position: absolute;
        top: 7px;
        z-index: 100;
        font-size: 12px;
        letter-spacing: 1.2px;
        color: #999999;
        display: inline-block;
        cursor: pointer;
        text-transform: uppercase;
        user-select: none;
        &.editor-label-gear {
          right: 64px;
        }
        &.editor-label-copy {
          right: 7px;
        }
      }

      // Code context menu
      .code-context-menu {
        background-color: white;
        padding: 15px;
        position: absolute;
        top: 40px;
        right: 20px;
        z-index: 101;
        box-shadow: 0 0 5px rgba(57, 70, 78, .15), 0 20px 55px -8px rgba(57, 70, 78, .25);
        .code-context-menu-close-icon {
          cursor: pointer;
        }
      }
    }
  }
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 100%;
  font-size: 12px;
  word-wrap: break-word;
}

.editor-box-embed {
  height: 126px;
  width: 350px;
}


/*=================== Iframe result ==================*/
.result {
  width: 100%;
  height: 100%;
  border: solid 1px #DDDDDD;
  .iframe-result {
    width: 100%;
    height: 100%;
    border: none;
  }
}


/*=================== Settings window ==================*/
.settings-window {
  display: inline-block;
  position: fixed;
  text-align: center;
  vertical-align: middle;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  /* The ghost, nudged to maintain perfect centering */
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  .settings-window-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -100;
  }

  .settings-tabs {
    margin-bottom: 7px;
  }

  .settings-window-container {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    position: relative;
    width: 650px;
    padding: 20px;

    .form-inline .form-group {
      margin-right: 20px;
      label {
        margin-right: 5px;
      }
    }

    .settings-resource {
      display: flex;
      margin: 0 0 5px;
      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }

    select {
      margin-right: 10px;
      width: 530px;
    }
  }
}


/*=================== Embed window ==================*/
textarea.embed-iframe {
  min-height: 110px;
  margin-bottom: 5px;
}

/*======================================================================================================================
  Datasets
======================================================================================================================*/
.datasets {
  max-height: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  .data-sets-item {
    margin-bottom: 5px;
    p {
      margin-bottom: 5px;
    }
    h5 {
      margin: 5px 0;
    }
    .data-sets-item-icon {
      text-align: right;
    }
    .col-md-7 {
      padding: 0;
    }
    .tag {
      margin-left: 1px;
      font-size: 59%;
    }
    .usage-sample-button {
      display: block;
      margin-bottom: 6px;
    }
    img {
      max-width: 80px;
      max-height: 50px;
    }
  }
}

/*======================================================================================================================
  Tip
======================================================================================================================*/
.tips {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  .tip {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #AAAAAA;
    margin-right: 8px;
    margin-top: 8px;
    position: relative;
    pre {
      max-width: 400px;
      max-height: 93px;
    }
    p {
      max-width: 400px;
    }
    h3 {
      max-width: 400px;
      margin-top: 10px;
    }
    .tip-close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}