@import "utils/vars";
@import "utils/common";
@import "utils/mixins";
@import "utils/brand-icon";

html {
  /* for footer */
  /*position: relative;*/
  height: 100%;

  body {
    /* Margin bottom by footer height */
    padding-bottom: 50px;
    /* for tips hidden scroll */
    overflow: hidden;

    font-family: 'Open Sans', sans-serif;;

    .CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
      background: #b0d5e6;
    }
    .CodeMirror-overlayscroll-vertical {
      width: 8px;
    }
    .CodeMirror-overlayscroll-horizontal {
      height: 8px;
    }

    header {
      height: 58px;
      border-bottom: 1px solid $settings-border-color;
      box-sizing: content-box;

      div.header-box {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 0 !important;

        .logo {
          display: inline-block;
          z-index: 1;
          @media (max-width: 450px) {
            display: none;
          }
          .logo-img {
            height: 58px;
            width: 56px;
            background-color: $nav-bg-color;
            display: inline-block;
            cursor: pointer;
            position: relative;
            .border-icon {
              margin-top: 14px;
              margin-left: 14px;
            }
            .chart-row {
              bottom: 20px;
            }
          }
          .brand-label {
            float: right;
            margin-top: 16px;
          }
          .logo-label {
            color: $intro-bg-color;
            font-size: 18px;
            margin-left: 13px;
            @media (max-width: 920px) {
              display: none;
            }
            b {
              font-weight: 600;
              @media (max-width: 1125px) {
                display: none;
              }
            }
            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }

        div.top-menu {
          position: absolute;
          width: 100%;
          text-align: center;
          .left-navbar {
            & > li {
              float: left; // always horizontal, prevent vertical
              @media (max-width: 820px) {
                & > button > span:not(.caret) {
                  display: none;
                }
              }
            }

            img.icon {
              width: 20px;
              height: 20px;
              margin-right: 15px;
              &.download-icon {
                width: 22px;
                height: 22px;
              }
            }

            div.icon {
              height: 20px;
              width: 20px;
              display: inline-block;
              background-color: $intro-bg-color;
              margin-right: 4px;
              mask-size: contain;
              -webkit-mask-size: contain;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              mask-position: center;
              -webkit-mask-position: center;
              &.icon-run {
                mask-image: url(/icons/editor/run.svg);
                -webkit-mask-image: url(/icons/editor/run.svg);
                width: 11px;
              }
              &.icon-fork {
                mask-image: url(/icons/editor/fork.svg);
                -webkit-mask-image: url(/icons/editor/fork.svg);
                width: 16px;
              }
              &.icon-save {
                mask-image: url(/icons/editor/download.svg);
                -webkit-mask-image: url(/icons/editor/download.svg);
                transform: rotate(180deg);
                width: 16px;
              }
              &.icon-embed {
                mask-image: url(/icons/editor/embed.svg);
                -webkit-mask-image: url(/icons/editor/embed.svg);
              }
              &.icon-settings {
                mask-image: url(/icons/editor/setting.svg);
                -webkit-mask-image: url(/icons/editor/settings.svg);
                width: 16px;
              }
              &.icon-view {
                mask-image: url(/icons/editor/view.svg);
                -webkit-mask-image: url(/icons/editor/view.svg);
                width: 16px;
              }
              &.icon-editor {
                mask-image: url(/icons/editor/editor.svg);
                -webkit-mask-image: url(/icons/editor/editor.svg);
              }
              &.icon-download {
                mask-image: url(/icons/editor/download2.svg);
                -webkit-mask-image: url(/icons/editor/download2.svg);
                transform: rotate(180deg);
                width: 16px;
              }
            }

            span.glyphicon-warning-sign {
              color: $warning-sign-color;
              margin-top: 2px;
              margin-left: 4px;
            }

            .search-box {
              display: inline-block;
              position: relative;
              margin-left: 30px;
              height: 34px;
              font-size: 12px;
              float: left;
              input.search {
                margin-top: 3px;
                padding: 4px 30px 4px 10px;
                background-color: white;
                outline: none;
                border: 1px solid $settings-border-color;
                color: $settings-border-color;
                &::placeholder {
                  color: $settings-border-color;
                }
                &:focus {
                  color: $text-color;
                  border: 1px solid $intro-bg-color;
                  & + .glyphicon-search {
                    color: $intro-bg-color;
                  }
                }
              }
              .glyphicon {
                color: $settings-border-color;
                position: absolute;
                right: 0;
                padding: 10px;
                //pointer-events: none;
                cursor: pointer;
              }
              #search-results-box.results {
                z-index: 200;
                text-align: left;
                min-width: 200px;
                padding: 10px;
                background-color: white;
                border: 1px solid $main-bg-color;
                color: #0d2e5c;
                position: absolute;
                white-space: nowrap;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
                .search-result {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  max-width: 280px;
                }
              }
            }
          }
        }

        ul.nav.navbar-nav {
          float: none;
          display: inline-block;
          margin-top: 11px;

          & > li > button {
            outline: none;
            color: $intro-bg-color;
            display: flex;
            padding: 7px 12px;
            border: none;
            span.caret {
              margin-top: 8px;
              margin-left: 2px;
            }
            &:hover, &:active, &:focus, &.active {
              color: #0e5f89;
              background-color: rgba(0, 0, 0, 0);
              text-decoration: none;
              div.icon {
                background-color: #0e5f89;
              }
            }
          }
          & > li.dropdown > button {
            &:active, &:focus, &.active {
              background-color: $editor-nav-bg-color;
              color: white;
              div.icon {
                background-color: white;
              }
            }
          }
          /*& > li.open > button {
            background-color: $editor-nav-bg-color;
            color: #0e5f89;
            div.icon {
              background-color: #0e5f89;
            }
          }*/
          ul {
            padding: 15px 0;
            border-color: $settings-border-color;
            button, a {
              font-size: 13px;
              font-weight: 600;
              color: $intro-bg-color;
              line-height: 30px;
              padding: 3px 20px;
              width: 100%;
              text-align: left;
              &:hover {
                background-color: $header-menu-bg-hover-color;
                text-decoration: none;
              }
            }
            .divider {
              background-color: $settings-border-color;
            }
          }
        }

        ul.nav.navbar-nav.navbar-right {
          @media (max-width: 550px) {
            display: none;
          }
          .caret {
            margin-left: 10px;
          }
          margin-right: 20px;
          & > li > a, & > li > button {
            font-size: 14px;
          }
          a, button {
            text-transform: uppercase;
          }
          ul {
            padding: 13px 0;
            li a, li button {
              padding: 3px 20px 3px 15px;
              img {
                height: 22px;
                width: 30px;
                object-fit: contain;
                margin: 0 10px 0 0;
              }
            }
          }
        }
      }
    }

    .footer-bottom-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 70px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: white;
      padding: 23px 0;
      border-top: 1px solid #e6edf1;
      .copyright {
        color: $copyright-color;
        font-size: 11px;
        a {
          color: $copyright-color;
        }
      }
      .footer-inner {
        display: inline-block;
        margin: 0 15px 0 0;
        a.soc-network {
          display: inline-block;
          &:hover, &:focus {
            text-decoration: none;
            color: #fff;
            .soc-network-icon {
              border-color: #85caff;
              color: #85caff;
            }
          }
          .soc-network-icon {
            font-size: 14px;
            display: inline-block;
            margin-right: 7px;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            line-height: 23px;
            text-align: center;
            border-radius: 50%;
            color: $sn-color;
            background-color: $sn-bg-color;
            &.tw {
              font-size: 17px;
              line-height: 26px;
            }
            &.in {
              font-size: 13px;
            }
            &:hover, &:focus {
              color: white;
              background-color: $sn-bg-hover-color;
            }
          }
        }
      }
    }

  }
}

.column-container {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;

  .editor-container {
    position: relative;
    background-color: $main-bg-color;

    .top-line {
      width: 100%;
      height: 35px;
      background-color: $main-bg-color;
      //border-bottom: 1px solid #95bfd3;
      .editor-label-name {
        font-size: 12px;
        color: $footer-caption-color;
        margin-left: 20px;
        margin-top: 10px;
        display: inline-block;
      }
      // Copy and other editors buttons
      .editor-label {
        background-color: rgba(246, 246, 246, 0.8);
        position: absolute;
        top: 11px;
        z-index: 100;
        font-size: 11px;
        //letter-spacing: 1.2px;
        color: $footer-caption-color;
        display: flex;
        cursor: pointer;
        text-transform: uppercase;
        user-select: none;
        &.editor-label-gear {
          right: 77px;
        }
        &.editor-label-copy {
          right: 15px;
        }
        &:hover, &:focus {
          text-decoration: none;
          color: $intro-bg-color;
          div.icon {
            background-color: $intro-bg-color;
          }
        }
        div.icon {
          height: 14px;
          width: 14px;
          display: inline-block;
          background-color: #80a9bd;
          -webkit-mask-size: contain;
          mask-size: contain;
          margin-left: 5px;
          &.icon-copy {
            mask-image: url(/icons/editor/copy.svg);
            mask-size: 14px 14px;
            -webkit-mask-image: url(/icons/editor/copy.svg);
            -webkit-mask-size: 14px 14px;
          }
          &.icon-settings {
            mask-image: url(/icons/editor/settings.svg);
            mask-size: 14px 14px;
            -webkit-mask-image: url(/icons/editor/settings.svg);
            -webkit-mask-size: 15px 15px;
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .editor-box {
      width: 100%;
      height: calc(100% - 35px);
    }

    // Code context menu
    .code-context-menu {
      background-color: white;
      padding: 15px;
      position: absolute;
      top: 40px;
      right: 20px;
      z-index: 101;
      box-shadow: 0 0 5px rgba(57, 70, 78, .15), 0 20px 55px -8px rgba(57, 70, 78, .25);
      .code-context-menu-close-icon {
        cursor: pointer;
      }
      select {
        max-width: 200px;
      }
    }
  }
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 100%;
  font-size: 12px;
  word-wrap: break-word;
  background-color: $main-bg-color;
  .CodeMirror-gutters {
    background-color: $main-bg-color;
    //border-right: 1px solid #95bfd3;
    border-right: none;
  }
  .CodeMirror-linenumber {
    color: $settings-border-color;
  }
}

.divider_vertical {
  width: 1px;
  background-color: $settings-border-color;
  z-index: 10;
  &.dragged {
    background-color: #627e8b;
  }
  &:after, &:before {
    width: 4px;
  }
}

.divider_horizontal {
  height: 1px;
  background-color: $settings-border-color;
  z-index: 10;
  &.dragged {
    background-color: #627e8b;
  }
  &:after, &:before {
    height: 4px;
  }
}

.horizontally_divided.z1 .divider_horizontal, .vertically_divided.z1 .divider_vertical {
  z-index: 10;
}

.horizontally_divided.z2 .divider_horizontal, .vertically_divided.z2 .divider_vertical {
  z-index: 11;
}

/*=================== Iframe result ==================*/
.result {
  position: relative;
  .iframe-hider {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .iframe-result {
    width: 100%;
    height: 100%;
    border: none;
  }
}

//======================================================================================================================
//  Settings window
//======================================================================================================================
.settings-window {
  display: block;
  position: fixed;
  top: 45px;
  left: 50%;
  width: 598px;
  margin-left: -299px;
  z-index: 1000;
  border: 1px solid $settings-border-color;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  font-size: 13px;
  background-color: white;

  .nav {
    font-size: 13px;
    &.nav-tabs {
      border-bottom: 1px solid $settings-border-color;
      margin: 0;
      padding: 15px 15px 0;
      li {
        margin-bottom: 0;
      }
    }
    li > a {
      text-transform: uppercase;
      color: $intro-bg-color;
      border-radius: 0;
      border: none;
      padding: 7px 10px;
      margin-right: 30px;
      font-weight: 600;
      &:hover, &:focus {
        background-color: $header-menu-bg-hover-color;
        border: none;
      }
      span.glyphicon-warning-sign {
        margin-left: 4px;
        color: $warning-sign-color;
        font-size: 15px;
      }
    }
    li:last-child > a {
      margin-right: 0;
    }
    li.active a {
      color: white;
      background-color: $leftmenu-bg-color;
      border: none;
    }
    // second sub menu (embed window)
    &.sub-tabs {
      padding-top: 12px;
      li a {
        color: $intro-bg-color;
        text-transform: none;
        span {
          border-bottom: 1px dotted;
        }
        &:hover {
          //background: none;
        }
      }
      li.active a {
        background-color: $header-menu-bg-hover-color;
        color: $intro-bg-color;
        span {
          border-bottom: none;
        }
      }
    }
  }

  .settings-tabs {
    margin-bottom: 7px;
  }

  .content {
    padding: 15px;
  }

  .line {
    display: flex;
    align-items: center;
    button {
      margin-left: 12px;
    }
    .script-input {
      width: 482px;
    }
  }

  input, textarea, select {
    border-radius: 0;
    border-color: $settings-border-color;
    box-shadow: none !important;
    font-size: 12px;
    resize: none;
  }
  select {
    width: 183px;
  }

  .question-small {
    margin-left: 10px;
    &:before {
      content: '?';
      color: white;
      background-color: $tag-bg-color;
      border-radius: 3px;
      width: 12px;
      padding-top: 1px;
      height: 12px;
      display: inline-block;
      position: relative;
      left: 0;
      top: 0;
      font-size: 11px;
      line-height: 10px;
      text-align: center;
    }
    &:hover:before {
      background-color: $intro-bg-color;
    }
  }

  .general-tab {

    .form-group {
      margin-top: 2px;
      margin-bottom: 21px;
    }
    input {
      width: 260px;
      height: 32px;
    }
    #settings-short-desc {
      height: 60px;
    }
    #settings-desc {
      height: 80px;
      resize: vertical;
    }

    .tags-box {
      padding: 10px 10px 0;
      border: 1px solid $settings-border-color;
      .tag {
        //cursor: pointer;
        font-size: 12px;
        display: inline-block;
        background-color: $tag-bg-color;
        margin: 0 8px 10px 0;
        color: white;
        padding: 2px 10px;
        border-radius: 4px;
        text-decoration: none;
        span.glyphicon {
          margin-left: 5px;
          cursor: pointer;
        }
        &.selected {
          border: 1px solid #0e5f89;
          padding: 1px 9px;
        }
      }
      input {
        display: inline-block;
        border: none;
        width: 100px;
        padding: 6px 0;
        height: 21px;
        margin-bottom: 10px;
      }
    }
  }

  .javascript-tab {
    div.scripts-box {
      margin-bottom: 26px;
      div.script {
        //margin: 0 0 11px 0;
        padding: 5px 0;
        .script-box {
          background-color: white;
          color: white;
          font-size: 12px;
          display: inline-block;
          border-radius: 5px;
          position: relative;
          padding-left: 27px;
          .glyphicon-align-justify {
            cursor: move;
          }
          .in-box {
            border-radius: 5px;
            background-color: $tag-bg-color;
            //padding: 1px 5px 1px 8px;
            padding: 1px 5px 1px 6px;
            //display: flex;
            align-items: baseline;
            .input-height-box {
              display: inline-block;
              .height-line {
                display: block;
                height: 0;
                max-width: 482px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0 3px;
              }
              input.url {
                width: 100%;
                max-width: 482px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                border: none;
                background: none;
                outline: none;
                padding: 1px 2px;
                &:focus {
                  background-color: white;
                  color: $text-color;
                }
              }
            }

          }
          span.glyphicon-align-justify {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
            color: $tag-bg-color;
            position: absolute;
            left: -4px;
            top: 3px;
          }
          span.glyphicon-remove {
            margin-left: 8px;
            cursor: pointer;
          }
          span.glyphicon-warning-sign {
            position: absolute;
            right: -25px;
            top: 3px;
            color: $warning-sign-color;
            font-size: 16px;
            //cursor: pointer;
          }
          &:hover,
          &:focus-within {
            text-decoration: none;
            background-color: $intro-bg-color;
            .in-box {
              background-color: $intro-bg-color;
            }
            span.glyphicon-align-justify {
              color: white;
            }
          }
        }
        //&.sortable-chosen {
        //  background-color: red;
        //  .in-box {
        //    background-color: red;
        //  }
        //}
        //&.sortable-drag {
        //  background-color: blue;
        //  .in-box {
        //    background-color: blue;
        //  }
        //}
        //&.sortable-ghost{
        //  background-color: green;
        //  .in-box {
        //    background-color: green;
        //  }
        //}

      }
    }

    .section-label {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      &.quick-add {
        margin: 33px 0 15px;
      }
    }
  }

  .datasets-tab {
    max-height: 705px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px 0 15px;
    .item {
      margin: 24px 0 20px;
      height: 310px;
      cursor: pointer;
      .title {
        display: block;
        font-size: 12px;
        font-weight: 600;
        margin: 5px 0;
      }
      .info {
        margin-bottom: 5px;
      }
      .tag {
        margin-left: 1px;
        font-size: 59%;
      }
      img {
        width: 158px;
        height: 104px;
        object-fit: contain;
        box-shadow: 1px 1px 10px #CCCCCC;
        margin: 2px 0 10px 2px;
        @include transition(150ms, ease);
        @include transform(scale(1));
      }
      .usage-sample-line {
        display: flex;
        margin-top: 10px;
      }
      a.usage-sample {
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        color: #19a1ce;
        margin-bottom: 10px;
      }
      a.question {
        display: inline-block;
        border: 1px solid #19a1ce;
        border-radius: 5px;
        width: 16px;
        height: 16px;
        text-align: center;
        margin-left: 15px;
        font-size: 12px;
        padding: 0;
        color: #19a1ce;
        position: relative;

        &:before {
          position: absolute;
          content: '?';
          top: -1px;
          left: 4px;
        }
        &:hover {
          background-color: #00c6ff;
          border: 1px solid #00c6ff;
          &:before {
            color: white;
          }
        }
      }
      .added-label {
        border: 1px solid #19a1ce;
        border-radius: 3px;
        padding: 5px 8px;
        display: inline-block;
        color: #19a1ce;
        span.glyphicon {
          margin-right: 7px;
        }
      }
      .quick-add-btn {
        background-color: #19a1ce;
        border: none;
        text-transform: uppercase;
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 4px;
        color: white;
        &:hover {
          background-color: #00c6ff;
        }
        &:active {
          background-color: #00c6ff;
          outline: none;
        }
      }

      &:hover {
        .title, .info {
          color: #0e5f89;
        }
        img {
          @include transition(150ms, ease);
          @include transform(scale(1.1));
        }
      }
    }
  }
}

//======================================================================================================================
//  Buttons
//======================================================================================================================
.ac-btn {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  width: 73px;
  height: 28px;
  color: white;
  border-radius: 4px;
  outline: none;
  padding: 0;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

a.ac-btn {
  line-height: 28px;
}

.add-btn {
  background-color: $intro-bg-color;

  &:active {
    background-color: $intro-bg-color-active;
  }
}

.remove-btn {
  background-color: $red-color;
  &:active {
    background-color: $red-color-active;
  }
}

//======================================================================================================================
//  Export window
//======================================================================================================================
.export-window {
  width: 516px;
  margin-left: -180px;
  font-size: 12px;

  // prevent .from-group become vertical on small devices
  @media (max-width: 767px) {
    .form-inline {
      .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
      .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
      }
    }
  }

  p.intro {
    margin: 4px 0 16px;
  }
  p.sub-intro {
    margin-bottom: 13px;
  }

  .form-inline .form-group {
    margin-right: 15px;
    input {
      padding: 6px 8px;
      font-size: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
    label {
      margin-right: 5px;
    }
  }

  .editor-box-embed {
    height: 80px;
    margin-bottom: 17px;
  }

  textarea.embed-iframe {
    min-height: 110px;
    margin-bottom: 5px;
  }

}

//======================================================================================================================
//  Tips
//======================================================================================================================
.tips {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 200;
  // TODO: wait tips design
  display: none;
  //display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  .tip {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #AAAAAA;
    margin-right: 8px;
    margin-top: 8px;
    position: relative;
    min-width: 300px;
    pre {
      max-width: 400px;
      max-height: 93px;
    }
    p {
      max-width: 400px;
    }
    h3 {
      max-width: 400px;
      margin-top: 10px;
    }
    .tip-close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}

//======================================================================================================================
//  Left menu view
//======================================================================================================================
.leftmenu {
  position: absolute;
  width: 246px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $leftmenu-bg-color;
  z-index: 100;
  .close {
    height: 20px;
    width: 20px;
    color: white;
    opacity: 0.9;
    margin: 20px 30px;
  }
  & > ul {
    margin-top: 80px;
  }
  ul {
    padding: 0;
    li ul li a {
      padding-left: 85px
    }
  }
  a {
    display: block;
    color: white;
    width: 100%;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    padding-left: 70px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: $leftmenu-bg-hover-color;
      text-decoration: none;
    }
  }
}

.ac-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: #e7edef6b;
  display: flex;
  justify-content: center;
  align-items: center;

  .ac-modal-dialog {
    text-align: left;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1003;
    padding: 20px;
    max-width: 300px;
    font-size: 12px;
    margin-top: -40px;
    .ac-modal-header {
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    .ac-modal-body {
      padding: 10px 0;
    }
    .ac-modal-footer {
      padding-top: 15px;
      text-align: right;
      border-top: 1px solid #e5e5e5;
      button.ac-btn.add-btn {
        margin-right: 10px;
      }
    }
  }
}

.tooltiped {
  position: relative;
  display: inline-block;
  .tooltip-box {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    max-width: 440px;
    white-space: pre;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 5px 7px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -5px;
    visibility: hidden;
    opacity: 0;
    //visibility: visible;
    //opacity: 1;
    transition: opacity 0.2s ease-out 0.1s, visibility 0.3s;
    a {
      margin-top: 2px;
      display: block;
      color: #afdbf1;
    }
  }
  &:hover .tooltip-box {
    transition: opacity .2s ease-out;
    visibility: visible;
    opacity: 1;
  }
}

@import "editor/standalone";