@import "utils/vars";
@import "utils/common";
@import "utils/mixins";

html {
  /* for footer */
  /*position: relative;*/
  height: 100%;

  body {
    /* Margin bottom by footer height */
    padding-bottom: 50px;
    /* for tips hidden scroll */
    overflow: hidden;

    font-family: 'Open Sans', sans-serif;;

    .CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
      background: #b0d5e6;
    }
    .CodeMirror-overlayscroll-vertical {
      width: 8px;
    }
    .CodeMirror-overlayscroll-horizontal {
      height: 8px;
    }

    header {
      height: 58px;
      border-bottom: 1px solid #b6d4e0;
      box-sizing: content-box;


      div.header-box {
        display: flex;
        justify-content: space-between;
        background-color: white;
        margin: 0 !important;

        .logo {
          display: inline-block;
          z-index: 1;
          @media (max-width: 360px){
            display: none;
          }
          .logo-img {
            height: 58px;
            width: 56px;
            background-color: #1e87b4;
            display: inline-block;
            cursor: pointer;
            img {
              height: 28px;
              width: 28px;
              margin: 15px 14px;
            }
          }
          .logo-label {
            color: #19a1ce;
            font-size: 18px;
            margin-left: 13px;
            @media (max-width: 615px){
              display: none;
            }
            b {
              font-weight: 600;
              @media (max-width: 1000px){
                display: none;
              }
            }
            &:hover, &:focus {
              text-decoration: none;
            }
          }
        }


        div.top-menu{
          position: absolute;
          width: 100%;
          text-align: center;
          .left-navbar {
            & > li {
              float: left;             // always horizontal, prevent vertical
              @media (max-width: 768px){
                & > button > span:not(.caret) {
                  display: none;
                }
              }
            }

            img.icon {
              width: 20px;
              height: 20px;
              margin-right: 15px;
            }
            div.icon {
              height: 20px;
              width: 20px;
              display: inline-block;
              background-color: #19a1ce;
              margin-right: 4px;
              mask-size: contain;
              -webkit-mask-size: contain;
              mask-repeat: no-repeat;
              -webkit-mask-repeat: no-repeat;
              mask-position: center;
              -webkit-mask-position: center;
              &.icon-run {
                mask-image: url(/icons/editor/run.svg);
                -webkit-mask-image: url(/icons/editor/run.svg);
                width: 11px;
              }
              &.icon-fork {
                mask-image: url(/icons/editor/fork.svg);
                -webkit-mask-image: url(/icons/editor/fork.svg);
                width: 16px;
              }
              &.icon-save {
                mask-image: url(/icons/editor/save.svg);
                -webkit-mask-image: url(/icons/editor/save.svg);
                width: 16px;
              }
              &.icon-embed {
                mask-image: url(/icons/editor/embed.svg);
                -webkit-mask-image: url(/icons/editor/embed.svg);
              }
              &.icon-settings {
                mask-image: url(/icons/editor/setting.svg);
                -webkit-mask-image: url(/icons/editor/settings.svg);
                width: 16px;
              }
              &.icon-view {
                mask-image: url(/icons/editor/view.svg);
                -webkit-mask-image: url(/icons/editor/view.svg);
                width: 16px;
              }
              &.icon-editor {
                mask-image: url(/icons/editor/editor.svg);
                -webkit-mask-image: url(/icons/editor/editor.svg);
              }
            }

          }
        }

        ul.nav.navbar-nav {
          float: none;
          display: inline-block;
          margin-top: 11px;

          & > li > button {
            outline: none;
            color: #19a1ce;
            display: flex;
            padding: 7px 12px;
            border: none;
            span.caret {
              margin-top: 8px;
              margin-left: 2px;
            }
            &:hover, &:active, &:focus, &.active {
              color: #0e5f89;
              background-color: rgba(0, 0, 0, 0);
              text-decoration: none;
              div.icon {
                background-color: #0e5f89;
              }
            }
          }
          & > li.dropdown > button {
            &:active, &:focus, &.active {
              background-color: #c2eaf7;
            }
          }
          & > li.open > button {
            background-color: #c2eaf7;
            color: #0e5f89;
            div.icon {
              background-color: #0e5f89;
            }
          }
          ul {
            padding: 15px 0;
            border-color: #95bfd3;
            button, a {
              font-size: 13px;
              font-weight: 600;
              color: #19a1ce;
              line-height: 30px;
              padding: 3px 20px;
              width: 100%;
              text-align: left;
              &:hover {
                background-color: #c2eaf7;
                text-decoration: none;
              }
            }
            .divider {
              background-color: #95bfd3;
            }
          }
        }

        ul.nav.navbar-nav.navbar-right {
          @media (max-width: 510px){
            display: none;
          }
          .caret {
            margin-left: 10px;
          }
          margin-right: 20px;
          & > li > a, & > li > button {
            font-size: 14px;
          }
          a, button {
            text-transform: uppercase;
          }
          ul {
            padding: 13px 0;
            li a, li button {
              padding: 3px 20px 3px 15px;
              img {
                height: 22px;
                width: 30px;
                object-fit: contain;
                margin: 0 10px 0 0;
              }
            }
          }
        }
      }
    }

    .footer-bottom-box {
      height: 70px;
      width: 100%;
      position: absolute;
      bottom: 0;
      background: white;

      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0;
      padding: 23px 0;
      border-top: 1px solid #e6edf1;

      .copyright {
        color: #80a9bd;
        font-size: 11px;
        a {
          color: #80a9bd;
        }
      }
      .footer-inner {
        display: inline-block;
        margin: 0 15px 0 0;
        a.soc-network {
          display: inline-block;
          &:hover, &:focus {
            text-decoration: none;
            color: #fff;
            .soc-network-icon {
              border-color: #85caff;
              color: #85caff;
            }
          }
          .soc-network-icon {
            font-size: 14px;
            display: inline-block;
            margin-right: 7px;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            line-height: 23px;
            text-align: center;
            border-radius: 50%;
            color: #95bfd3;
            background-color: #d5e3e8;
            &.tw {
              font-size: 17px;
              line-height: 26px;
            }
            &.in {
              font-size: 13px;
            }
            &:hover, &:focus {
              color: white;
              background-color: #19a1ce;
            }
          }
        }
      }
    }

  }
}

.column-container {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;

  .editor-container {
    position: relative;
    background-color: #ecf2f4;

    .top-line {
      width: 100%;
      height: 35px;
      background-color: #ecf2f4;
      //border-bottom: 1px solid #95bfd3;
      .editor-label-name {
        font-size: 12px;
        color: #80a9bd;
        margin-left: 20px;
        margin-top: 10px;
        display: inline-block;
      }
      // Copy and other editors buttons
      .editor-label {
        background-color: rgba(236, 242, 244, 0.8);
        position: absolute;
        top: 11px;
        z-index: 100;
        font-size: 11px;
        //letter-spacing: 1.2px;
        color: #80a9bd;
        display: flex;
        cursor: pointer;
        text-transform: uppercase;
        user-select: none;
        &.editor-label-gear {
          right: 77px;
        }
        &.editor-label-copy {
          right: 15px;
        }
        &:hover, &:focus {
          text-decoration: none;
          color: #008ebe;
          div.icon {
            background-color: #008ebe;
          }
        }
        div.icon {
          height: 14px;
          width: 14px;
          display: inline-block;
          background-color: #80a9bd;
          -webkit-mask-size: contain;
          mask-size: contain;
          margin-left: 5px;
          &.icon-copy {
            mask-image: url(/icons/editor/copy.svg);
            mask-size: 14px 14px;
            -webkit-mask-image: url(/icons/editor/copy.svg);
            -webkit-mask-size: 14px 14px;
          }
          &.icon-settings {
            mask-image: url(/icons/editor/settings.svg);
            mask-size: 14px 14px;
            -webkit-mask-image: url(/icons/editor/settings.svg);
            -webkit-mask-size: 15px 15px;
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .editor-box {
      width: 100%;
      height: calc(100% - 35px);
    }


    // Code context menu
    .code-context-menu {
      background-color: white;
      padding: 15px;
      position: absolute;
      top: 40px;
      right: 20px;
      z-index: 101;
      box-shadow: 0 0 5px rgba(57, 70, 78, .15), 0 20px 55px -8px rgba(57, 70, 78, .25);
      .code-context-menu-close-icon {
        cursor: pointer;
      }
    }
  }
}

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 100%;
  font-size: 12px;
  word-wrap: break-word;
  background-color: #ecf2f4;
  .CodeMirror-gutters {
    background-color: #ecf2f4;
    //border-right: 1px solid #95bfd3;
    border-right: none;
  }
  .CodeMirror-linenumber {
    //color: #80a9bd;
    color: #adc6d2;
  }
}

.divider_vertical {
  width: 1px;
  background-color: #95bfd3;
  z-index: 10;
  &.dragged {
    background-color: #627e8b;
  }
  &:after, &:before {
    width: 4px;
  }
}

.divider_horizontal {
  height: 1px;
  background-color: #95bfd3;
  z-index: 10;
  &.dragged {
    background-color: #627e8b;
  }
  &:after, &:before {
    height: 4px;
  }
}

.horizontally_divided.z1 .divider_horizontal, .vertically_divided.z1 .divider_vertical {
  z-index: 10;
}

.horizontally_divided.z2 .divider_horizontal, .vertically_divided.z2 .divider_vertical {
  z-index: 11;
}

/*=================== Iframe result ==================*/
.result {
  position: relative;
  .iframe-hider {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .iframe-result {
    width: 100%;
    height: 100%;
    border: none;
  }
}

//======================================================================================================================
//  Settings window
//======================================================================================================================
.settings-window {
  display: block;
  position: fixed;
  top: 45px;
  left: 50%;
  width: 598px;
  margin-left: -299px;
  z-index: 1000;
  border: 1px solid #95bfd3;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  font-size: 13px;
  background-color: white;

  .nav {
    font-size: 13px;
    &.nav-tabs {
      border-bottom: 1px solid #95bfd3;
      margin: 0;
      padding: 15px 15px 0;
      li {
        margin-bottom: 0;
      }
    }
    li > a {
      text-transform: uppercase;
      color: #19a1ce;
      border-radius: 0;
      border: none;
      padding: 7px 10px;
      margin-right: 30px;
      font-weight: 600;
      &:hover, &:focus {
        background-color: #c2eaf7;
        border: none;
      }
    }
    li:last-child > a {
      margin-right: 0;
    }
    li.active a {
      color: white;
      background-color: #19a1ce;
      border: none;
    }
    // second sub menu (embed window)
    &.sub-tabs {
      padding-top: 12px;
      li a {
        color: #19a1ce;
        text-transform: none;
        span {
          border-bottom: 1px dotted;
        }
        &:hover {
          //background: none;
        }
      }
      li.active a {
        background-color: #c2eaf7;
        color: #19a1ce;
        span {
          border-bottom: none;
        }
      }
    }
  }

  .settings-tabs {
    margin-bottom: 7px;
  }

  .content {
    padding: 15px;
  }

  .line {
    display: flex;
    align-items: center;
    button {
      margin-left: 12px;
    }
    .script-input {
      width: 482px;
    }
  }

  input, textarea, select {
    border-radius: 0;
    border-color: #9bc3d6;
    box-shadow: none !important;
    font-size: 12px;
    resize: none;
  }
  select {
    width: 183px;
  }

  .ac-btn {
    display: inline-block;
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    width: 73px;
    height: 28px;
    color: white;
    border-radius: 4px;
    outline: none;
    padding: 0;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }
  a.ac-btn {
    line-height: 28px;
  }
  .add-btn {
    background-color: #19a1ce;

    &:active {
      background-color: #1796bf;
    }
  }
  .remove-btn {
    background-color: #df4e69;
    &:active {
      background-color: #cf4861;
    }
  }

  a.question-small {
    &:before {
      content: '?';
      color: white;
      background-color: #95bfd3;
      border-radius: 3px;
      width: 12px;
      padding-top: 1px;
      height: 12px;
      display: inline-block;
      position: relative;
      left: 10px;
      top: 0;
      font-size: 11px;
      line-height: 10px;
      text-align: center;
    }
    &:hover:before {
      background-color: #008ebe;
    }
  }

  .general-tab {

    .form-group {
      margin-top: 2px;
      margin-bottom: 21px;
    }
    input {
      width: 260px;
      height: 32px;
    }
    #settings-short-desc {
      height: 60px;
    }
    #settings-desc {
      height: 80px;
      resize: vertical;
    }

    .tags-box {
      padding: 10px 10px 0;
      border: 1px solid #9bc3d6;
      .tag {
        //cursor: pointer;
        font-size: 12px;
        display: inline-block;
        background-color: #95bfd3;
        margin: 0 8px 10px 0;
        color: white;
        padding: 2px 10px;
        border-radius: 4px;
        text-decoration: none;
        span.glyphicon {
          margin-left: 5px;
          cursor: pointer;
        }
        &.selected {
          border: 1px solid #0e5f89;
          padding: 1px 9px;
        }
      }
      input {
        display: inline-block;
        border: none;
        width: 100px;
        padding: 6px 0;
        height: 21px;
        margin-bottom: 10px;
      }
    }
  }

  .javascript-tab {
    div.scripts-box {
      margin-bottom: 26px;
      div.script {
        margin: 0 0 11px 0;
        a {
          background-color: white;
          color: white;
          font-size: 12px;
          display: inline-block;
          border-radius: 5px;
          position: relative;
          padding-left: 27px;
          .in-box {
            border-radius: 5px;
            background-color: #95bfd3;
            padding: 2px 5px 2px 8px;
            display: flex;
            align-items: baseline;
            .url {
              max-width: 505px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
          span.glyphicon-align-justify {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
            color: #95bfd3;
            position: absolute;
            left: -4px;
            top: 3px;
          }
          span.glyphicon {
            margin-left: 10px;
          }
          &:hover {
            text-decoration: none;
            background-color: #19a1ce;
            .in-box {
              background-color: #19a1ce;
            }
            span.glyphicon-align-justify {
              color: white;
            }
          }
        }
      }
    }

    .section-label {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      &.quick-add {
        margin: 33px 0 15px;
      }
    }
  }

  .datasets-tab {
    max-height: 705px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px 0 15px;
    .item {
      margin: 24px 0 20px;
      height: 310px;
      cursor: pointer;
      .title {
        display: block;
        font-size: 12px;
        font-weight: 600;
        margin: 5px 0;
      }
      .info {
        margin-bottom: 5px;
      }
      .tag {
        margin-left: 1px;
        font-size: 59%;
      }
      img {
        width: 158px;
        height: 104px;
        object-fit: contain;
        box-shadow: 1px 1px 10px #CCCCCC;
        margin: 2px 0 10px 2px;
        @include transition(150ms, ease);
        @include transform(scale(1));
      }
      .usage-sample-line {
        display: flex;
        margin-top: 10px;
      }
      a.usage-sample {
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        color: #19a1ce;
        margin-bottom: 10px;
      }
      a.question {
        display: inline-block;
        border: 1px solid #19a1ce;
        border-radius: 5px;
        width: 16px;
        height: 16px;
        text-align: center;
        margin-left: 15px;
        font-size: 12px;
        padding: 0;
        color: #19a1ce;
        position: relative;

        &:before {
          position: absolute;
          content: '?';
          top: -1px;
          left: 4px;
        }
        &:hover {
          background-color: #00c6ff;
          border: 1px solid #00c6ff;
          &:before {
            color: white;
          }
        }
      }
      .added-label {
        border: 1px solid #19a1ce;
        border-radius: 3px;
        padding: 5px 8px;
        display: inline-block;
        color: #19a1ce;
        span.glyphicon {
          margin-right: 7px;
        }
      }
      .quick-add-btn {
        background-color: #19a1ce;
        border: none;
        text-transform: uppercase;
        padding: 5px 10px;
        font-size: 13px;
        border-radius: 4px;
        color: white;
        &:hover {
          background-color: #00c6ff;
        }
        &:active {
          background-color: #00c6ff;
          outline: none;
        }
      }

      &:hover {
        .title, .info {
          color: #0e5f89;
        }
        img {
          @include transition(150ms, ease);
          @include transform(scale(1.1));
        }
      }
    }
  }

}

//======================================================================================================================
//  Export window
//======================================================================================================================
.export-window {
  width: 516px;
  //margin-left: -258px;
  margin-left: -145px;
  font-size: 12px;

  p.intro {
    margin: 4px 0 16px;
  }
  p.sub-intro {
    margin-bottom: 13px;
  }

  .form-inline .form-group {
    margin-right: 15px;
    input {
      padding: 6px 8px;
      font-size: 12px;
    }
    &:last-child {
      margin-right: 0;
    }
    label {
      margin-right: 5px;
    }
  }

  .editor-box-embed {
    height: 80px;
    margin-bottom: 17px;
  }

  textarea.embed-iframe {
    min-height: 110px;
    margin-bottom: 5px;
  }

}

//======================================================================================================================
//  Tips
//======================================================================================================================
.tips {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 200;
  // TODO: wait tips design
  display: none;
  //display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  .tip {
    background-color: white;
    padding: 10px 15px;
    border: 1px solid #AAAAAA;
    margin-right: 8px;
    margin-top: 8px;
    position: relative;
    min-width: 300px;
    pre {
      max-width: 400px;
      max-height: 93px;
    }
    p {
      max-width: 400px;
    }
    h3 {
      max-width: 400px;
      margin-top: 10px;
    }
    .tip-close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}

//======================================================================================================================
//  Left menu view
//======================================================================================================================
.leftmenu {
  position: absolute;
  width: 246px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2c4b76;
  z-index: 100;
  .close {
    height: 20px;
    width: 20px;
    color: white;
    opacity: 0.9;
    margin: 20px 30px;
  }
  & > ul {
    margin-top: 80px;
  }
  ul {
    padding: 0;
    li ul li a {
      padding-left: 85px
    }
  }
  a {
    display: block;
    color: white;
    width: 100%;
    font-size: 17px;
    height: 48px;
    line-height: 48px;
    padding-left: 70px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: #19a1ce;
      text-decoration: none;
    }
  }
}

@import "editor/standalone";