$red-color: #df4e69;
$nav-bg-color: #2c4b76;
$main-bg-color: #e7edef;
$footer-color: #ffffff;
$text-color: #222222;
$intro-color: #c3dfe8;

@import "utils/ie";

@import "utils/mixins";

@import "utils/bootstrap_ext";


@import "base";

@import "landing-page";

@import "samples-page";

@import "repo-page";

@import "standalone-sample-page";

@import "register-page";

@import "data-sets-page";


@import "tags/tags-page";

@import "tags/tag-page";


@import "chart-type/chart-types-page";

@import "chart-type/chart-type-page";

@import "chart-type/chart-types-categories";

@import "chart-type/chart-types-category-page";

@import "chart-type/chart-types-common";