@import "ie";

$nav-bg-color: #2c4b76;
$main-bg-color: #e7edef;
$footer-color: #ffffff;
$text-color: #222222;
$intro-color: #c3dfe8;

@import "base";

@import "samples-page";

@import "repo-page";

@import "standalone-iframe-page";

@import "register-page";

@import "data-sets-page";

@import "tags-page";

@import "chart-types-page";

@import "chart-type-page";

